
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor-terciaria); /* Cor de fundo preto */
    color: var(--cor-secundaria); /* Cor de texto azul */
    background-image: url('fundo.jpeg');


}

#app {
    background: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.22);
    width: 80%;
    max-width: 400px;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background-color: var(--cor-secundaria); /* Cor de fundo do botão azul */
    color: var(--cor-botao-texto);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-botao-hover);
}

button:active {
    background-color: var(--cor-botao-ativo);
    transform: translateY(3px);
}

.formulario {
    text-align: center;
}

.formulario h2 {
    margin-bottom: 20px;
}

.mensagem-cadastro {
    display: none;
    justify-content: center;
    margin-top: 10px;
}

.mensagem-cadastro.mostrar {
    display: flex;
    color: var(--cor-secundaria);
}
